<div class="header__additional">
  {% if block.settings.show_search %}
    <div class="header__icon header__search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 48 48"
        height="512"
        viewBox="0 0 48 48"
        width="512"
      >
        <g id="_x32_-Magnifying_Glass"><path d="m40.8994141 39.4853516-7.8127441-7.8127441c2.3978882-2.734375 3.7209473-6.1942749 3.7209473-9.8649902 0-4.0068359-1.5605469-7.7734375-4.3935547-10.6064453s-6.5996094-4.3935547-10.6064453-4.3935547-7.7734375 1.5605469-10.6064453 4.3935547-4.3935547 6.5996094-4.3935547 10.6064453 1.5605469 7.7734375 4.3935547 10.6064453 6.5996094 4.3935547 10.6064453 4.3935547c3.6707153 0 7.1306152-1.3230591 9.8649902-3.7209473l7.8127441 7.8127441c.1953125.1953125.4511719.2929688.7070313.2929688s.5117188-.0976563.7070313-.2929688c.3906249-.390625.3906249-1.0234375-.0000001-1.4140625zm-28.2841797-8.4853516c-2.4550781-2.4555664-3.8076172-5.7202148-3.8076172-9.1923828s1.3525391-6.7368164 3.8076172-9.1923828c2.4555664-2.4550781 5.7202148-3.8076172 9.1923828-3.8076172s6.7368164 1.3525391 9.1923828 3.8076172c2.4550781 2.4555664 3.8076172 5.7202148 3.8076172 9.1923828s-1.3525391 6.7368164-3.8076172 9.1923828c-2.4555664 2.4550781-5.7202148 3.8076172-9.1923828 3.8076172s-6.7368164-1.3525391-9.1923828-3.8076172z"></path></g>
      </svg>
    </div>
  {% endif %}

  {% if block.settings.show_cart %}
    <a href="{{ routes.cart_url }}" class="header__icon header__cart">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Capa_1"
        x="0px"
        y="0px"
        viewBox="0 0 459.361 459.361"
        style="enable-background:new 0 0 459.361 459.361;"
        xml:space="preserve"
      >
        <g>
            <g>
                <path d="M371.2,325.731c19.1-0.2,35.8-13.1,40.7-31.6l47.1-175.4c1.5-5.7-1.8-11.5-7.5-13.1c-0.9-0.2-1.8-0.4-2.7-0.4H94.5    l-24.1-89c-1.2-4.6-5.4-7.9-10.2-7.9H0v21.3h51.8l23.3,87c-0.1,0.7-0.1,1.4,0,2.1l48,176c0.3,1.4,0.8,2.9,1.3,4.3l16.2,59    c-15.6,8.3-26.2,24.7-26.2,43.6c0,27.3,22.1,49.4,49.4,49.4c27.3,0,49.4-22.1,49.4-49.4c0-8.5-2.2-16.6-6-23.6    c-0.9-1.6-1.8-3.2-2.9-4.8H330c-5.6,8-9,17.8-9,28.4c0,27.3,22.1,49.4,49.4,49.4s49.4-22.1,49.4-49.4c0-12.9-4.9-24.6-13-33.4    c-8.7-9.9-21.5-16.2-35.8-16.3H161.9l-7.5-27.5c3.2,0.8,6.5,1.3,9.8,1.3H371.2z M370.5,373.231c15.7,0,28.4,12.7,28.4,28.4    s-12.7,28.4-28.4,28.4c-15.7,0-28.4-12.7-28.4-28.4S354.8,373.231,370.5,373.231z M163.8,373.231c15.7,0,28.3,12.8,28.3,28.4    c0,15.7-12.7,28.4-28.4,28.4c-15.7,0-28.3-12.7-28.3-28.4S148.1,373.231,163.8,373.231z M144.8,290.931l-23.9-87.4l-21.3-76.8    h334.9l-43.3,162.6c-2.4,9.3-10.7,15.8-20.3,16H164C155.3,304.831,147.7,299.231,144.8,290.931z"></path>
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>
      <div>
        <span class="cart-count">{{ cart.item_count }}</span>
      </div>
    </a>
  {% endif %}

  {% if block.settings.show_account %}
    <a href="{{ routes.account_url }}" class="header__icon header__account">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="21" viewBox="0 0 19 21" fill="none">
        <path d="M9.84326 2.4496C8.915 2.4496 8.02477 2.81835 7.36839 3.47473C6.71201 4.1311 6.34326 5.02134 6.34326 5.9496C6.34326 6.87786 6.71201 7.7681 7.36839 8.42447C8.02477 9.08085 8.915 9.4496 9.84326 9.4496C10.7715 9.4496 11.6618 9.08085 12.3181 8.42447C12.9745 7.7681 13.3433 6.87786 13.3433 5.9496C13.3433 5.02134 12.9745 4.1311 12.3181 3.47473C11.6618 2.81835 10.7715 2.4496 9.84326 2.4496ZM4.34326 5.9496C4.34326 4.49091 4.92272 3.09196 5.95417 2.06051C6.98562 1.02906 8.38457 0.4496 9.84326 0.4496C11.302 0.4496 12.7009 1.02906 13.7323 2.06051C14.7638 3.09196 15.3433 4.49091 15.3433 5.9496C15.3433 7.40829 14.7638 8.80724 13.7323 9.83869C12.7009 10.8701 11.302 11.4496 9.84326 11.4496C8.38457 11.4496 6.98562 10.8701 5.95417 9.83869C4.92272 8.80724 4.34326 7.40829 4.34326 5.9496ZM0.843262 17.4496C0.843262 16.1235 1.37005 14.8517 2.30773 13.9141C3.24541 12.9764 4.51718 12.4496 5.84326 12.4496H13.8433C15.1693 12.4496 16.4411 12.9764 17.3788 13.9141C18.3165 14.8517 18.8433 16.1235 18.8433 17.4496V20.4496H0.843262V17.4496ZM5.84326 14.4496C5.04761 14.4496 4.28455 14.7657 3.72194 15.3283C3.15933 15.8909 2.84326 16.654 2.84326 17.4496V18.4496H16.8433V17.4496C16.8433 16.654 16.5272 15.8909 15.9646 15.3283C15.402 14.7657 14.6389 14.4496 13.8433 14.4496H5.84326Z" fill="black"></path>
      </svg>
    </a>
  {% endif %}
</div>

<style>
  .header__additional {
    display: flex;
    gap: 1.25rem;
  }

  .header__icon svg {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  .header__cart {
    position: relative;
    text-decoration: none;
  }

  .header__cart div {
    position: absolute;
    bottom: -0.025rem;
    right: -0.4125rem;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #e1ccb9;
    font-size: 0.5rem;
  }
</style>
