{% liquid
  assign logo = settings.logo
  assign logo_width = settings.logo_width | default: 180
%}

<style>
  .header__logo-link {
    display: inline-block;
    text-decoration: none;
  }

  .header__logo-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: {{ logo_width }}px;
  }

  .header__logo-text {
    font-size: 24px;
    font-weight: 600;
  }
</style>

<a href="{{ routes.root_url }}" class="header__logo-link">
  {% if logo %}
    {{
      logo
      | image_url: width: logo_width
      | image_tag: alt: shop.name, width: logo_width, class: 'header__logo-image'
    }}
  {% else %}
    <span class="header__logo-text">
      {{ shop.name }}
    </span>
  {% endif %}
</a>
