<nav class="mobile-menu__nav">
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="/" class="mobile-menu__link"> Home </a>
    </li>

    <li class="mobile-menu__item">
      <a href="/collections/all-products" class="mobile-menu__link"> Shop </a>
    </li>

    <li class="mobile-menu__item">
      <a href="/pages/about-us" class="mobile-menu__link"> About Us </a>
    </li>

    <li class="mobile-menu__item">
      <a href="/pages/contact" class="mobile-menu__link"> Contact Us </a>
    </li>

    <li class="mobile-menu__item">
      <a href="/pages/faq" class="mobile-menu__link"> FAQ </a>
    </li>
  </ul>
</nav>
