{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="mobile-toggle-container">
        <div class="toggle-line"></div>
        <div class="toggle-line"></div>
        <div class="toggle-line"></div>
      </div>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'logo' %}
            {% render 'header-logo', block: block %}

          {% when 'additional' %}
            {% render 'header-additional', block: block %}

          {% when 'menu' %}
            {% render 'header-menu', block: block %}
        {% endcase %}
      {% endfor %}
    </div>
    {% if section.settings.show_search %}
      <div class="search-bar">
        <input
          type="text"
          class="search-bar__input"
          placeholder="Search"
        >

        <div class="search-bar__actions">
          <button type="button" class="search-bar__icon search-bar-search__icon">🔍</button>

          <button type="button" class="search-bar__icon search-bar-close__icon">✕</button>
        </div>

        <!-- Search Results -->
        <div class="search-results">
          <div class="search-results__wrapper">
            <!-- Suggestions -->
            <div class="search-results__suggestions">
              <h4 class="search-results__heading">Suggestions</h4>

              <ul class="search-results__list">
                <li class="search-results__item">
                  <a href="#">Damini</a>
                </li>

                <li class="search-results__item">
                  <a href="#">Yamini</a>
                </li>

                <li class="search-results__item">
                  <a href="#">Ami</a>
                </li>
              </ul>
            </div>

            <!-- Products -->
            <div class="search-results__products">
              <h4 class="search-results__heading">Products</h4>

              <div class="search-results__product-list">
                <a href="#" class="search-product">
                  <div class="search-product__image">
                    <img src="" alt="">
                  </div>

                  <div class="search-product__content">
                    <h5 class="search-product__title">Damini</h5>

                    <span class="search-product__price"> ₹1,650.00 </span>
                  </div>
                </a>

                <a href="#" class="search-product">
                  <div class="search-product__image">
                    <img src="" alt="">
                  </div>

                  <div class="search-product__content">
                    <h5 class="search-product__title">Yamini</h5>

                    <span class="search-product__price"> ₹2,199.00 </span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Footer -->
          <div class="search-results__footer">
            <button type="button" class="search-results__view-all">Search for "ami"</button>

            <button type="button" class="search-results__submit">🔍</button>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% assign mobile_menu_handle = blank %}

  {% for block in section.blocks %}
    {% if block.type == 'menu' %}
      {% assign mobile_menu_handle = block.settings.menu %}
    {% endif %}
  {% endfor %}

  <div class="mobile-menu">
    {% render 'mobile-menu', menu_handle: mobile_menu_handle %}

    {% if section.settings.show_account %}
      <div class="mobile-menu__account">
        <a href="{{ routes.account_url }}" class="mobile-menu__account-link">
          <!-- svg -->
          <span>LOG IN</span>
        </a>
      </div>
    {% endif %}
  </div>
</header>

<style>
   :root {
     --container-max-width: {{ section.settings.container_width }}rem;
     --container-bg-color: {{ section.settings.container_bg }};
   }

   .header {
     position:relative;
     background-color: var(--container-bg-color);
     display: flex;
     justify-content:center;
     padding: 1rem 0;
     box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);
   }

   .container{
     width:100%;
     max-width: var(--container-max-width);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    {% comment %} for mobile hamburger thing  {% endcomment %}
    const hamburger = document.querySelector('.mobile-toggle-container');
    const mobileMenu = document.querySelector('.mobile-menu');

    hamburger.addEventListener('click', () => {
      hamburger.classList.toggle('active');
      mobileMenu.classList.toggle('active');
    });

    {% comment %} for search bar toggle {% endcomment %}
    const searchDo = document.querySelector('.header__search');
    const searchClose = document.querySelector('.search-bar-close__icon');
    const searchBar = document.querySelector('.search-bar');

    searchDo.addEventListener('click', () => {
      searchBar.classList.add('active');
    });

    searchClose.addEventListener('click', () => {
      searchBar.classList.remove('active');
    });
  });
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Max Width",
      "min": 30,
      "max": 100,
      "step": 1,
      "default": 69,
      "unit": "rem"
    },
    {
      "type": "color",
      "id": "container_bg",
      "label": "Container Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo"
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Menu Font Size",
          "min": 0.5,
          "max": 2.5,
          "step": 0.1,
          "default": 1,
          "unit": "rem"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Menu Text Color",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "additional",
      "name": "Additonal Details",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_search",
          "label": "Show Search",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_account",
          "label": "Show Account",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_cart",
          "label": "Show Cart",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
