{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="container">
    <div class="mobile-toggle-container">
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
      <div class="toggle-line"></div>
    </div>

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'logo' %}
          {% render 'header-logo', block: block %}

        {% when 'additional' %}
          {% render 'header-additional', block: block %}

        {% when 'menu' %}
          {% render 'header-menu', block: block %}
      {% endcase %}
    {% endfor %}
  </div>

  {% assign mobile_menu_handle = blank %}

  {% for block in section.blocks %}
    {% if block.type == 'menu' %}
      {% assign mobile_menu_handle = block.settings.menu %}
    {% endif %}
  {% endfor %}

  <div class="mobile-menu">
    {% render 'mobile-menu', menu_handle: mobile_menu_handle %}

    {% if section.settings.show_account %}
      <div class="mobile-menu__account">
        <a href="{{ routes.account_url }}" class="mobile-menu__account-link">
          <!-- svg -->
          <span>LOG IN</span>
        </a>
      </div>
    {% endif %}
  </div>
</header>

<style>
   :root {
     --container-max-width: {{ section.settings.container_width }}rem;
     --container-bg-color: {{ section.settings.container_bg }};
   }

   .header {
     position:relative;
     background-color: var(--container-bg-color);
     display: flex;
     justify-content:center;
     padding: 1rem 0;
     box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);
   }

   .container{
     width:100%;
     max-width: var(--container-max-width);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.mobile-toggle-container');
    const mobileMenu = document.querySelector('.mobile-menu');

    hamburger.addEventListener('click', () => {
      hamburger.classList.toggle('active');
      mobileMenu.classList.toggle('active');
    });
  });
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "label": "Show account",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Max Width",
      "min": 30,
      "max": 100,
      "step": 1,
      "default": 69,
      "unit": "rem"
    },
    {
      "type": "color",
      "id": "container_bg",
      "label": "Container Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo"
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "range",
          "id": "font_size",
          "label": "Menu Font Size",
          "min": 0.5,
          "max": 2.5,
          "step": 0.1,
          "default": 1,
          "unit": "rem"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Menu Text Color",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "additional",
      "name": "Additonal Details",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_search",
          "label": "Show Search",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_account",
          "label": "Show Account",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_cart",
          "label": "Show Cart",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
