.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 0 1.5rem;
}

.header-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0.063rem solid #d9d9d9;
  border-radius: 999px;
  padding: 0.5rem 1.25rem;
  background: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.search-bar.active {
  display: flex;
}

.search-bar__input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.75rem;
  color: #000;
}

.search-bar__input::placeholder {
  color: #7a7a7a;
}

.search-bar__actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.search-results__footer button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.search-bar__icon {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-line {
  width: 1.25rem;
  height: 0.063rem;
  background-color: black;
  margin: 0.438rem 0;
  border-radius: 2.438rem;
  cursor: pointer;
  transition: 0.5s all;
}

.mobile-toggle-container.active .toggle-line:nth-child(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}

.mobile-toggle-container.active .toggle-line:nth-child(2) {
  opacity: 0;
}

.mobile-toggle-container.active .toggle-line:nth-child(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

.mobile-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  right: 0;
  top: 4.5rem;
  padding: 1.25rem;
  z-index: 99999;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu__account-link {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  color: black;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s linear;
  cursor: pointer;
  letter-spacing: 0.06rem;
  margin-top: 0.75rem;
}

.search-results {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  background: #fff;
  border: 0.063rem solid #e5e5e5;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.08);
  z-index: 100;
  padding: 1.5rem;
  padding-bottom: 1rem;
  max-height: 45vh;
  overflow-y: scroll;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-product__image {
  width: 4rem;
  height: 4rem;
}

.search-product__image img {
  width: 4rem;
  height: 4rem;
}

.search-product {
  display: flex;
  gap: 0.5rem;
}

.search-results__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-results__suggestions {
  width: 100%;
}

.search-results__heading {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.4375rem;
  margin-top: 0.4375rem;
  color: #999;
  text-transform: uppercase;
}

.search-results__list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-results__list li {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.75rem 0;
}

.search-results__list li:last-child {
  border-bottom: none;
}

.search-results__list a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  width: 100%;
}

.search-results__products {
  width: 100%;
}

.search-results__footer {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.search-results__footer button {
  font-size: 0.75rem;
  font-weight: 300;
}

.search-product {
  text-decoration: none;
  display: flex;
  padding: 0 0 1rem 0;
  color: black;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 0;
}

.search-product:last-child {
  border-bottom: none;
}

.search-product__title,
.search-product__price {
  font-size: 0.75rem;
  font-weight: 500;
}

.search-product__price {
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .menu_main {
    display: flex;
  }
  .container {
    padding: 0;
  }
  .mobile-toggle-container {
    display: none;
  }
  .toggle-line {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .search-results__wrapper {
    flex-direction: row;
    gap: 1.5rem;
  }

  .search-results__suggestions {
    width: 40%;
  }

  .search-results__heading {
    font-size: 0.65rem;
  }

  .search-results__products {
    width: 60%;
  }

  .search-results__list li {
    padding: 0.25rem 0;
  }

  .search-results__list a {
    font-size: 0.65rem;
  }

  .search-product__title,
  .search-product__price {
    margin-bottom: 0;
    font-size: 0.65rem;
  }

  .search-results {
    max-height: 50vh;
  }
}
